/* Variables */

:root {
    --bg-color-header-top: #363636;
    --color-border-img: #2285D5;


}


/* Header Start */

.btn_nav {
    background-color: var(--bg-color-header-top);
}

.chevron:hover {
    
    content: url(../img/chevron-down-solid-hover.svg);

}

/* Header End */

/* Carousel Start */

.button_carousel {
    background-color: #CD3D0F;
    font-size: 10px;
    width: 80px;
}

.carousel_top {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;

}

.hero_card_returnal {
    padding-top: 4rem;
}

.title_returnal {
    font-size: 26px;
}

.text_carousel {
    font-size: 11px;
}


.img_returnal {
    width: 30%;

}

.img_carousel {
    border-radius: 15px;
    
}

.img_carousel:hover {
    border: 1px solid var(--color-border-img);
    padding: 2px;
}

/* Carousel End  */


