/* Variables */

:root {
    --bg-color-header-top: #363636;
    --color-border-img: #2285D5;
    --color-text-ps5-no-limits: #0273CE;
    --color-text-ps5: #727272;
    --color-button-blue: #2D64E6;
    --color-button-salmon: #CD3D0F;
    --color-light-dark: #1F1F1F;


}

/* Tags General */

.button_salmon {
    background-color: var(--color-button-salmon);
    font-size: 10px;
    width: 80px;
}

.game_card_ {
    padding-top: 4rem;
}

.title_game {
    font-size: 26px;
}

.text_game {
    font-size: 11px;
}


.img_game {
    width: 30%;

}

/* Header Start */

.btn_nav {
    background-color: var(--bg-color-header-top);
}

.chevron:hover {
    
    content: url(../img/chevron-down-solid-hover.svg);

}

/* Header End */

/* Carousel Start */



.carousel_top {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;

}



.img_carousel {
    border-radius: 15px;
    
}

.img_carousel:hover {
    border: 1px solid var(--color-border-img);
    padding: 2px;
}

/* Carousel End  */

/* Playstation 5 Model Start */

.no_limits {
    color: var(--color-text-ps5-no-limits);
    font-size: 10px;
}

.ps5_title {
    font-size: 24px;
}

.ps5_text {
    font-size: 12px;
    color: var(--color-text-ps5);
}

.button_ps5 {
    background-color: var(--color-button-blue);
    font-size: 10px;
}

.name_thumbnail {
    font-size: 11px;
}

.card_thumbnail {
    opacity: 0.5;
}


.card_thumbnail:hover {
    opacity: 1;
    border-bottom: 1px solid var(--color-text-ps5-no-limits);
}

/* Playstation 5 Model End */

/* Takes Two Section Star */


.takes_two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;

}

/* Takes Two Section End */

